<mat-toolbar color="primary" class="toolbar">
    <span class="title">Online Appointment Booking System</span>
  </mat-toolbar>
  
  <div class="container">
    <!-- Left Side: Background Image -->
    <div class="left-side"></div>
  
    <!-- Right Side: Reset Password Form -->
    <div class="right-side">
      <div class="form-container">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          
          <h2>Reset Password</h2>
  
          <!-- Email Field -->
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter your email" required />
            <mat-error *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched">
              <ng-container *ngIf="resetPasswordForm.get('email')?.hasError('required')">Email is required.</ng-container>
              <ng-container *ngIf="resetPasswordForm.get('email')?.hasError('pattern')">Enter a valid email address.</ng-container>
            </mat-error>
          </mat-form-field>
  
          <!-- New Password Field -->
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" type="password" formControlName="password" placeholder="Enter new password" required />
            <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{ hide ? 'visibility_off' : 'visibility' }}
              </mat-icon>
            <mat-error *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
              <ng-container *ngIf="resetPasswordForm.get('password')?.hasError('required')">New password is required.</ng-container>
              <ng-container *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">Password must be at least 6 characters long.</ng-container>
            </mat-error>
          </mat-form-field>
  
          <!-- Update Password Button -->
          <button mat-raised-button class="send-btn" color="primary" type="submit" [disabled]="resetPasswordForm.invalid">
            Update Password
          </button>
  
          <!-- Back to Login Link -->
          <div class="links-container">
            <a href="/login" class="link">Back to Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>